*{
	margin : 0;
	padding : 0;
	font:sans-serif;
	box-sizing : border-box;/*Borda faz parte da conta de largura*/
}

header{
    background-color: #2A77EB;
    height: 10vh;
    width: 100%; 
}

h1{
    color : white;
    text-align: center;
    padding-top: 10px;
}

.div1{
    background-color:#5F99F0;
    color:white;
    height: 4vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.link {
    color:white;
  margin-left: 10px; /* Adicione um espaçamento entre os links */
}

p{
    margin-left: 10px;
}
a{
    text-decoration-line: none;
}

a:hover {
    color: black;
}

.div2{
    padding-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#url{
    width: 60%;
    background-color:#D9D9D9;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

.div3{
    width : 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-button{
    margin-left: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #C0C0C0;
    color :black;
    width: 20%;
}

.hidden {
    display: none;
}

@media (max-width: 750px) {
    #url{
        width: 90%;
    }
    .div3 {
        display: block;
        align-items: center;
    }
    .search-button{
        width: 50%;
        margin-top: 30px;
        display: block;
    }
  }
