{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include '_headLinks.html' %}
    <title>Site Map - Buscar</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {% include '_header.html' %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 class="h1 mt-5 text-center">Gere um mapa do site e exporte!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p class="h3">Insira uma copy aqui!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p class="h6">Explicação do porque o software é útil e vai te poupar de algum trabalho.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p class="h3">Principais ferramentas:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm border border-primary" id="img">
                    <img src="" alt="">
                </div>
                <div class="col-sm border border-primary" id="img">
                    <img src="" alt="">
                </div>
                <div class="col-sm border border-primary" id="img">
                    <img src="" alt="">
                </div>
                <div class="col-sm border border-primary" id="img">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div id="div-descover" class="col-sm">
                    <p class="h3">Descubra como começar a usar em 3 minutos...</p>
                    <div class="col-sm border border-primary" id="img2">
                        <img id="" src="" alt="">
                    </div>
                </div>
                <div class="col-sm">
                    <p class="h4">Textinhoooo</p>
                    <p class="h5">Microtextinho texto texto texto lorem texto texto texto
                        lorem lorem lorem texto lorem lorem tab lorem lorem lore</p>
                    <button id="buton-action" class="btn btn-primary">Chamada para ação!</button>
                </div>
            </div>
        </div>
    </section>

    {% include '_footer.html' %}
</body>

</html>