{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include '_headLinks.html' %}
    <title>Site Map - Buscar</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {% include '_header.html' %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 class="h1 mt-5 text-center">Gere um mapa do site e exporte!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p class="h6">Permite a análise e geração automatizada de um mapa do site, conhecido como sitemap. O sitemap é uma representação visual da estrutura do site, 
                        mostrando todos os links e páginas disponíveis. Ele facilita a navegação rápida para os usuários do site e também serve como uma ferramenta de análise para os desenvolvedores.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p class="h3">Principais ferramentas:</p>
                </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/img/links.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/agrupamentos.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/scatterPlot.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon brightness-0" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon brightness-0" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    {% include '_footer.html' %}
</body>

</html>