{% load static %}
<header class="fixed-top bg-primary text-light">
    <nav class="navbar navbar-expand-lg bg-expand-lg navbar-dark">
        <div class="container-fluid container">
            <a class="navbar-brand" href="#" alt="Logo do Gerador de Mapa de Site">
                <img src="{% static 'img/logo.png' %}" alt="Logo" id="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse container text-center justify-content-center"
                id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 column-gap-3">
                   <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/homePage/">Home</a></li></li>
                   <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/">Gerador</a></li></li>
                </ul>


                <form class="d-flex" role="search">
                    <input id="search-text" class="form-control me-2" type="search" placeholder="Buscar"
                        aria-label="Search">
                    <button id="search-btn" class="btn btn-outline-primary bg-white" type="submit">
                        <span class="material-icons">search</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>