{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include '_headLinks.html' %}
    <title>Site Map - Home</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {% include '_header.html' %}
    <main>
        <div class="container position-relative">
            <section id="search-form" class="row justify-content-center">
                <div class="col-xl-6 ">
                    <div class="text-center text-white">
                        <!-- Page heading--> Forneça uma URL
                        <h1 class="mb-5 text-dark">Explore, Engaje, Tenha Sucesso: Desbloqueie o Potencial do seu
                            Website!</h1>
                        <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                            {% csrf_token %}
                            <!-- URL input-->
                            <div class="row">
                                <input class="form-control form-control-lg" id="url" placeholder="Forneça uma URL" />
                                <div id="alertConteiner"></div>
                            </div>
                            <div class="row grid gap-3 mt-3">
                                <div class="col p-2 g-col-4"><button class="btn btn-primary btn-lg"
                                        id="siteMapButton">Gerar Mapa do Site</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section id="site-map-results" class="hide mt-3 mb-5">
                <hr>
                <div class="site-map">
                    <p class="h3 text-dark text-center text-decoration-underline ">Mapa do Site</p>
                    <div id="links-container" class="overflow-scroll border border-dark-subtle max-height-container">

                    </div>
                </div>

                <hr>
                <div class="site-map-ordened">
                    <p class="h3 text-dark text-center text-decoration-underline ">Agrupamentos</p>
                    <div class="text-center mt-3 mb-3">
                        <div class="btn-group grid gap-4 d-flex flex-wrap" role="group"
                            aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="map-btn-1" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-primary" for="map-btn-1">Ordem de Ocorrência</label>

                            <input type="radio" class="btn-check" name="btnradio" id="map-btn-2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="map-btn-2">Tags Semânticas</label>

                            <input type="radio" class="btn-check" name="btnradio" id="map-btn-3" autocomplete="off">
                            <label class="btn btn-outline-primary" for="map-btn-3">Semelhança Contextual</label>

                            <input type="radio" class="btn-check" name="btnradio" id="map-btn-4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="map-btn-4">Relevância</label>
                        </div>
                    </div>
                    <div id="group-container"
                        class="overflow-scroll border border-dark-subtle hide max-height-container">

                    </div>
                </div>

            </section>
        </div>

    </main>

    {% include '_footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

        const urlInput = document.querySelector("#url");
        const siteMapButton = document.querySelector("#siteMapButton");
        const loader = $('<div id="loader" class="hide container-margin"><p class="h3 text-primary text-center"> Carregando<i class="fas fa-spinner fa-spin"></i></p></div>');

        var url_str;

        /**
        * Simulando click no botão com a tecla enter.
        */
        document.addEventListener('keydown', function (e) {
            if (e.key == "Enter") {
                siteMapButton.click();
            }
        });

        siteMapButton.addEventListener("click", (e) => {
            e.preventDefault();
            site_map_request();
        });

        document.querySelector("#map-btn-1").addEventListener("click", (e) => {
            e.preventDefault();
            occurrence_order_request();
        });

        document.querySelector("#map-btn-2").addEventListener("click", (e) => {
            e.preventDefault();
            // Função das tags semânticas.
        });

        document.querySelector("#map-btn-3").addEventListener("click", (e) => {
            e.preventDefault();
            contextual_similarity_request();
        });

        document.querySelector("#map-btn-4").addEventListener("click", (e) => {
            e.preventDefault();
            // Page rank.
        });

        function site_map_request() {
            url_str = urlInput.value;

            // Verificar se url não está vazia
            if (url_str.trim() !== '') {
                hide_url_alert();
                $('#search-form').after(loader.html());
                disable_element_by_id('#siteMapButton');
                disable_element_by_id('#url');
                create_request("{% url 'mapGenerator:result' %}", { url: url_str }, show_map_generator_data);
            } else {
                hide_site_map_results();
                show_url_alert();
            }
        }

        function show_map_generator_data(request) {
            $('#search-form').next().remove();
            enable_element_by_id('#siteMapButton');
            enable_element_by_id('#url');
            if (request.valid) {
                // Obtenha uma referência à <div> onde deseja inserir a tabela
                var divContainer = document.querySelector('#links-container');
                show_site_map_results();

                // Crie a tabela com as classes Bootstrap
                var table = document.createElement('table');
                table.classList.add('table', 'table-striped', 'border', 'border-dark-subtle');

                // Crie o cabeçalho da tabela com as classes Bootstrap
                var thead = document.createElement('thead');
                var headerRow = thead.insertRow();
                var headerTitleCell = headerRow.insertCell();
                headerTitleCell.textContent = 'Título';
                var headerLinkCell = headerRow.insertCell();
                headerLinkCell.textContent = 'Link';

                // Adicione o cabeçalho à tabela
                table.appendChild(thead);

                // Crie o corpo da tabela
                var tbody = document.createElement('tbody');

                // Percorra a lista de links
                request.links.forEach(function (link) {
                    // Crie uma nova linha na tabela
                    var row = tbody.insertRow();

                    // Crie uma coluna para o título do link
                    var titleCell = row.insertCell();
                    titleCell.classList.add('text-truncate', 'border', 'border-dark-subtle');
                    titleCell.style.maxWidth = "150px";
                    titleCell.appendChild(document.createTextNode(link.title));

                    // Crie uma coluna para o link
                    var linkUrl = document.createElement('a');
                    linkUrl.href = link.url;
                    linkUrl.textContent = link.url;
                    linkUrl.target = "_blank";
                    var linkCell = row.insertCell();
                    linkCell.classList.add('text-truncate', 'border', 'border-dark-subtle');
                    linkCell.style.maxWidth = "300px";
                    linkCell.appendChild(linkUrl);
                });

                // Adicione o corpo à tabela
                table.appendChild(tbody);

                // Adicione a tabela à <div> container
                divContainer.innerHTML = "";
                divContainer.appendChild(table);
                occurrence_order_request();
            } else {
                hide_site_map_results()
                show_url_alert();
            }
        }

        // Relevância Presumida.
        function occurrence_order_request() {
            $('#group-container').after(loader.html());
            disable_map_buttons();
            hide_tag_by_id("#group-container");
            create_request("{% url 'mapGenerator:occurrence' %}", { url: url_str }, show_occurrence_order_data);
        }

        function show_occurrence_order_data(request) {
            $('#group-container').next().remove();
            if (request.valid) {
                // Obtenha uma referência à <div> onde deseja inserir a tabela
                var divContainer = document.querySelector('#group-container');
                $('#group-container').next().remove();
                show_tag_by_id("#group-container");

                // Crie a tabela com as classes Bootstrap
                var table = document.createElement('table');
                table.classList.add('table', 'table-striped', 'border', 'border-dark-subtle');

                // Crie o cabeçalho da tabela com as classes Bootstrap
                var thead = document.createElement('thead');
                var headerRow = thead.insertRow();
                var headerTitleCell = headerRow.insertCell();
                headerTitleCell.textContent = 'Link';
                var headerLinkCell = headerRow.insertCell();
                headerLinkCell.textContent = 'Ocorrências';

                // Adicione o cabeçalho à tabela
                table.appendChild(thead);

                // Crie o corpo da tabela
                var tbody = document.createElement('tbody');

                // Percorra a lista de links
                request.links.forEach(function (link) {
                    var row = tbody.insertRow();

                    var linkUrl = document.createElement('a');
                    linkUrl.href = link.url;
                    linkUrl.textContent = link.url;
                    linkUrl.target = "_blank";
                    var linkCell = row.insertCell();
                    linkCell.classList.add('text-truncate', 'border', 'border-dark-subtle'); // Classe para truncar o texto
                    linkCell.style.maxWidth = "400px"; // Defina o tamanho máximo desejado em pixels
                    linkCell.appendChild(linkUrl);

                    var countCell = row.insertCell();
                    countCell.classList.add('text-truncate', 'text-center', 'border', 'border-dark-subtle'); // Classe para truncar o texto
                    countCell.style.maxWidth = "50px"; // Defina o tamanho máximo desejado em pixels
                    countCell.appendChild(document.createTextNode(link.count));
                });

                // Adicione o corpo à tabela
                table.appendChild(tbody);

                // Adicione a tabela à <div> container
                divContainer.innerHTML = "";
                divContainer.appendChild(table);
            } else {
                hide_site_map_results()
                show_url_alert();
            }
            enable_map_buttons();
            check_button("#map-btn-1");
        }


        // Tags Semânticas 

        // Semelhança Contextual
        function contextual_similarity_request() {
            $('#group-container').after(loader.html());
            disable_map_buttons();
            hide_tag_by_id("#group-container");
            create_request("{% url 'mapGenerator:contextual-similarity' %}", { url: url_str }, show_contextual_similarity_data);
        }

        function show_contextual_similarity_data(request) {
            $('#group-container').next().remove();
            if (request.valid) {
                // Obtenha uma referência à <div> onde deseja inserir a tabela
                var divContainer = document.querySelector('#group-container');
                $('#group-container').next().remove();
                show_tag_by_id("#group-container");

                // Crie a tabela com as classes Bootstrap
                var table = document.createElement('table');
                table.classList.add('table', 'table-striped', 'border', 'border-dark-subtle');

                // Cria o corpo da tabela
                var tbody = document.createElement('tbody');

                // Cria um objeto para rastrear os tópicos já exibidos
                var displayedTopics = {};

                // Percorre o clusterData e cria as linhas da tabela
                request.cluster.forEach(function (item) {
                    var topic = item.topic;
                    var link = item.link;

                    // Verifica se o tópico já foi exibido, se não, cria uma nova linha para o tópico
                    if (!displayedTopics[topic]) {
                        var row = document.createElement('tr');
                        var topicCell = document.createElement('td');
                        topicCell.classList.add("text-primary", "text-center", "fw-bold")
                        topicCell.textContent = "Tópico " + (topic + 1);
                        row.appendChild(topicCell);
                        tbody.appendChild(row);
                        displayedTopics[topic] = true;
                    }

                    // Cria uma nova linha para o link dentro do tópico
                    var linkRow = document.createElement('tr');
                    var linkCell = document.createElement('td');
                    linkCell.textContent = link;
                    linkRow.appendChild(linkCell);
                    tbody.appendChild(linkRow);
                });

                // Adiciona o corpo da tabela à tabela principal
                table.appendChild(tbody);

                // Adicione a tabela à <div> container
                divContainer.innerHTML = "";
                divContainer.appendChild(table);

                // Extrai os valores de 'x' e 'y' dos dados
                var x_values = request.points.map(function (point) {
                    return point.x;
                });

                var y_values = request.points.map(function (point) {
                    return point.y;
                });

                // Cria os dados do scatter plot
                var trace = {
                    x: x_values,
                    y: y_values,
                    mode: 'markers',
                    type: 'scatter'
                };

                // Configurações do layout
                var layout = {
                    title: 'Scatter Plot',
                    xaxis: {
                        title: 'Eixo X'
                    },
                    yaxis: {
                        title: 'Eixo Y'
                    }
                };

                // Cria o array de dados do gráfico
                var data = [trace];

                // Renderiza o scatter plot na div com id 'scatterPlot'
                var scatterPlot = document.createElement('div');
                scatterPlot.setAttribute("id", "scatterPlot")
                // scatterPlot.classList.add('border', 'border-dark-subtle')
                divContainer.insertAdjacentElement('afterend', scatterPlot);
                Plotly.newPlot("scatterPlot", data, layout);
            } else {
                hide_site_map_results()
                show_url_alert();
            }
            enable_map_buttons();
            check_button("#map-btn-3");
        }


        // Relevância

        function create_request(end_point, json, success_function) {
            var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
            add_key_and_value(json, "csrfmiddlewaretoken", csrftoken);

            var request_data = JSON.stringify(json);

            $.ajax({
                url: end_point,
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: request_data,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (response) {
                    success_function(response);
                },
                error: function (xhr, errmsg, err) {
                    console.log("Não foi dessa vez.");
                }
            });

        }

        function check_button(button_id) {
            disable_element_by_id(button_id);
            document.querySelector(button_id).checked = true;
        }

        function disable_map_buttons() {
            disable_element_by_id("#map-btn-1");
            disable_element_by_id("#map-btn-2");
            disable_element_by_id("#map-btn-3");
            disable_element_by_id("#map-btn-4");
        }

        function enable_map_buttons() {
            enable_element_by_id("#map-btn-1");
            enable_element_by_id("#map-btn-2");
            enable_element_by_id("#map-btn-3");
            enable_element_by_id("#map-btn-4");
        }

        function show_site_map_results() {
            show_tag_by_id('#site-map-results');
        }

        function hide_site_map_results() {
            hide_tag_by_id('#site-map-results');
        }

        function show_tag_by_id(tag_id) {
            document.querySelector(tag_id).style.display = "block";
        }

        function hide_tag_by_id(tag_id) {
            document.querySelector(tag_id).style.display = "none";
        }

        function disable_element_by_id(element_id) {
            document.querySelector(element_id).disabled = true;
        }

        function enable_element_by_id(element_id) {
            document.querySelector(element_id).disabled = false;
        }

        function add_key_and_value(object, key, value) {
            object[key] = value;
        }

        function show_url_alert() {
            // Exibir popup de alerta
            var alertDiv = document.createElement('div');
            alertDiv.className = 'alert alert-danger';
            alertDiv.innerHTML = 'URL inválida! Por favor, insira uma URL válida.';

            var alertContainer = document.querySelector('#alertConteiner');
            alertContainer.innerHTML = ''; // Limpa o conteúdo atual da div
            alertContainer.appendChild(alertDiv);
            alertContainer.classList.remove('hidden');
        }

        function hide_url_alert() {
            var alertContainer = document.querySelector('#alertConteiner');
            alertContainer.innerHTML = ''; // Limpa o conteúdo atual da div
            alertContainer.classList.add('hidden');
        }

    </script>
</body>


</html>