{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador-de-mapa-de-site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="./logoIF.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'site.css' %}">
</head>
<body>
    <!--Cabeçalho do site com o título-->
    <header>
        <h1>Gerador de Mapa de site</h1>
    </header>

    <!--Sub cabeçalho com links para o site de apresentação do produto e de ajuda-->
    <div class = "div1">
        <a href="#" class = "link"> Apresentação</a>
        <p>  |  </p>
        <a href="#" class = "link">Ajuda</a>
    </div>

    <div class = "div2">
        <input type="text" placeholder=" Url do site" class="search-input" id ="url" size="100">
    </div>

    <!-- Search bar -->
    <div class = "div3">
        <!--Barra onde será colocado a url do site pelo usuário-->
        <button onclick="redirect()" class="search-button">Gerar mapa do site</button>
        <!--2 Botões : 1 Gera apenas o mapa do site 2 Gera o mapa do site e um arquivo .xml-->
        <button type="submit" class="search-button">Gera mapa/Arquivo XML</button>
    </div>

    <script>
        function redirect() {
            var urlInput = document.getElementById("url");
            var urlValue = urlInput.value;

        // Verificar se urlValue não está vazio
            if (urlValue.trim() !== '') {
                // Redirecionar para a URL correta
                window.location.href = "{% url 'mapGenerator:result' 'alface'%}".replace('alface',urlValue);
            }
        }
    </script>
</body>


</html>
